<% if @tags.empty? %>
	<div class="success span6">当前暂时没有分类</div>
<% else %>
    <% @tags.each do |tag| %>
    <div class="span2">
      <a href="<%= tag.url %>">
        <%= tag.name %>(<%=tag.count %>)
      </a>
    </div>
    <% end %>
<% end %>
